body
{
    color : #333;
    text-align: Left;
    font-family: "Arial";
    font-size: 16px;
}
#Container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;

}